#buttons {
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-color: white;
    -fx-text-fill: #13b6d3;
    -fx-font-weight: bold;
    -fx-border-color: #13b6d3;
}
#buttons:hover {
-fx-background-color: #e3edf0;
}


.buttonsGanadores {
    -fx-text-fill: white;
    -fx-background-color: #13b6d3;
    -fx-font-size: 50pt;
}

#panelBotones {
    -fx-background-color: white;
}

.buttonEnJuego {
    -fx-font-size: 30pt;
}
.buttonEnJuego:hover {
    -fx-background-color: #e3edf0;
}

#botonInicio {
    -fx-border-color: #13b6d3;
}


#labelJugador {
    -fx-text-fill: #13b6d3;
    -fx-font-weight: bold;
    -fx-font-family: "Droid Sans Bold";
    -fx-font-size: 18pt;
}

Pane {
    -fx-background-color: white;
}

#tituloJuego {
    -fx-text-fill: #13b6d3;
        -fx-font-weight: bold;
        -fx-font-family: "Ubuntu Thin";
        -fx-font-size: 42pt;
}

AnchorPane {
    -fx-background-color: #a6e4f0;
}